Vagrant.configure("2") do |config|
  config.vm.box = "{{ .Provider.BoxName }}"
  config.vm.box_check_update = true

  config.vm.hostname = "{{ .Node.Name }}"
  config.vm.network "private_network", ip: "{{ .Node.IpAddress }}", vmware_desktop__vmnet: "{{ .Provider.VmNet }}"

  config.vm.provider "vmware_desktop" do |v|
    v.gui = false
    v.memory = {{ .Node.Memory }}
    v.cpus = {{ .Node.Cpu }}
  end

  config.vm.provision "shell", inline: <<-SHELL
  SHELL
end
