Vagrant.configure("2") do |config|
  config.vm.box = "{{ .Provider.BoxName }}"
  config.vm.box_check_update = true

  config.vm.disk :disk, size: "{{ .Node.DiskSize }}", primary: true

  config.vm.hostname = "{{ .Node.Name }}"
  config.vm.network "private_network", ip: "{{ .Node.IpAddress }}", vmware_desktop__vmnet: "{{ .Provider.VmNet }}"

  config.vm.synced_folder "ansible/roles", "/etc/ansible/roles",
    disabled: false

  config.vm.synced_folder "ansible/variables", "/etc/ansible/vars",
    disabled: false

  config.vm.synced_folder "ansible/playbooks", "/etc/ansible/playbook",
    disabled: false

  config.vm.synced_folder "kubeconfig", "/vagrant/kubeconfig",
    disabled: false

  config.vm.synced_folder "scripts/provision", "/provision",
    disabled: false

  config.vm.synced_folder "scripts/remote", "/scripts",
    disabled: false

  config.vm.synced_folder "settings", "/vagrant/settings",
    disabled: false

  config.vm.provider "vmware_desktop" do |v|
    v.linked_clone = false

    v.gui = false
    v.memory = {{ .Node.Memory }}
    v.cpus = {{ .Node.Cpu }}
  end

  config.vm.provision "shell", inline: <<-SHELL
    apt update
    apt upgrade -y

    # expand the disk if needed
    bash /provision/disk-expand.sh

    # install yq (needed for some local scripts)
    bash /provision/install-yq.sh

    # bootstrap the system and install the needed version of ansible
    bash /provision/ansible-bootstrap.sh
  SHELL
end
